flows_chatbot_dtac.json
[{"id":"9f3ba270.ea6c98","type":"tab","label":"Main Flows","disabled":false,"info":""},{"id":"e5cb3686.aa8818","type":"tab","label":"Test Flow","disabled":true,"info":""},{"id":"6ec04530.f1dfcc","type":"tab","label":"Balance Enquiry","disabled":true,"info":""},{"id":"42699fa5.f7306","type":"subflow","name":"Fb-BotNoi-Fb","info":"","in":[{"x":40,"y":40,"wires":[{"id":"32a125cc.0a681a"}]}],"out":[{"x":740,"y":260,"wires":[{"id":"3f11000f.00cc58","port":0}]}]},{"id":"eb784316.443f4","type":"subflow","name":"Validate Postpaid, Prepaid Active Or Suspend","info":"","in":[{"x":58.75,"y":25,"wires":[{"id":"e3deada.617135"},{"id":"c366aae2.bfca4"}]}],"out":[{"x":1603.75,"y":107,"wires":[{"id":"dfc89ef3.49e0f","port":0}]},{"x":1601.5000610351562,"y":238.49996948242188,"wires":[{"id":"49823296.0b9a64","port":0}]},{"x":812.5,"y":326.75,"wires":[{"id":"cdee3c1b.d82d6","port":1}]},{"x":816.5,"y":266.75,"wires":[{"id":"488a258f.223dac","port":1}]}]},{"id":"ef19de98.c59c48","type":"subflow","name":"Validate Profile and Send OTP","info":"","in":[{"x":50,"y":30,"wires":[{"id":"70f6fc21.8b65ec"}]}],"out":[{"x":709,"y":340,"wires":[{"id":"d9a1131b.01223","port":0}]},{"x":1094,"y":281,"wires":[{"id":"d3a38c4a.b025d","port":0}]}]},{"id":"d20d8a6a.610d98","type":"subflow","name":"Validate OTP ","info":"","in":[{"x":223,"y":86,"wires":[{"id":"1c74760.69c150a"}]}],"out":[{"x":1461,"y":237,"wires":[{"id":"63d9aa02.1090e4","port":0},{"id":"69cdcc90.1f2ee4","port":0}]},{"x":1265,"y":418,"wires":[{"id":"9ef517d6.1ab3a8","port":1}]}]},{"id":"5b929df2.af898c","type":"subflow","name":"Balance Enquiry","info":"","in":[{"x":50,"y":30,"wires":[{"id":"250012ee.16f54e"},{"id":"f60f63dd.492688"}]}],"out":[{"x":336.5,"y":208.00003051757812,"wires":[{"id":"250012ee.16f54e","port":1}]},{"x":998,"y":147.75,"wires":[{"id":"e9825c23.f49e2","port":0}]},{"x":1179.25,"y":189,"wires":[{"id":"3236141f.4b3cc4","port":0}]},{"x":1181.5,"y":278.0000305175781,"wires":[{"id":"3236141f.4b3cc4","port":1}]},{"x":1180.5,"y":366.25,"wires":[{"id":"3236141f.4b3cc4","port":2}]},{"x":1172.5,"y":459.25,"wires":[{"id":"3236141f.4b3cc4","port":3}]}]},{"id":"19ac5846.14084","type":"subflow","name":"PackageEquiry","info":"","in":[{"x":50,"y":30,"wires":[{"id":"fd580ab6.d948c"}]}],"out":[{"x":599,"y":192,"wires":[{"id":"fd580ab6.d948c","port":1}]},{"x":964,"y":157,"wires":[{"id":"ec2e8875.d0f48","port":0}]},{"x":1007,"y":287,"wires":[{"id":"275e0997.60b41e","port":0}]},{"x":1009,"y":349,"wires":[{"id":"275e0997.60b41e","port":1}]},{"x":1015,"y":411,"wires":[{"id":"275e0997.60b41e","port":2}]},{"x":1002,"y":484,"wires":[{"id":"275e0997.60b41e","port":3}]}]},{"id":"b315d983.710f9","type":"chatbot-facebook-node","z":"","botname":"CHAT_BOT_FB","usernames":"","store":"","log":""},{"id":"e90458de.116318","type":"inject","z":"e5cb3686.aa8818","name":"","topic":"","payload":"","payloadType":"str","repeat":"300","crontab":"","once":false,"x":90,"y":160,"wires":[["81412e90.f8f518"]]},{"id":"81412e90.f8f518","type":"http request","z":"e5cb3686.aa8818","name":"Recent Quakes","method":"GET","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","x":260,"y":160,"wires":[["25b42465.60188c"]]},{"id":"25b42465.60188c","type":"csv","z":"e5cb3686.aa8818","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":430,"y":160,"wires":[["f77f24f.354fc58","b48afed1.db02a8"]]},{"id":"f77f24f.354fc58","type":"debug","z":"e5cb3686.aa8818","name":"","active":true,"complete":false,"x":630,"y":120,"wires":[]},{"id":"b48afed1.db02a8","type":"switch","z":"e5cb3686.aa8818","name":"","property":"payload.mag","propertyType":"msg","rules":[{"t":"gte","v":"7","vt":"num"}],"checkall":"true","outputs":1,"x":470,"y":220,"wires":[["dcfb53cf.674db8"]]},{"id":"dcfb53cf.674db8","type":"change","z":"e5cb3686.aa8818","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PANIC!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":280,"wires":[["508b621c.0711bc"]]},{"id":"508b621c.0711bc","type":"debug","z":"e5cb3686.aa8818","name":"","active":true,"complete":false,"x":710,"y":200,"wires":[]},{"id":"294e98f9.7f84","type":"debug","z":"42699fa5.f7306","name":"receive msg from botnoi","active":true,"console":"false","complete":"payload","x":190,"y":280,"wires":[]},{"id":"f52b3aba.ede1e","type":"http request","z":"42699fa5.f7306","name":"req botnoi","method":"GET","ret":"txt","url":"","tls":"","x":190,"y":200,"wires":[["294e98f9.7f84","3f11000f.00cc58"]]},{"id":"3f11000f.00cc58","type":"function","z":"42699fa5.f7306","name":"unescape response","func":"msg.payload = msg.payload.replace(/\\\"/g, '').replace(/\\\\/g,'%');\nmsg.payload = unescape(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":200,"wires":[["6a750cf8.e755a4"]]},{"id":"6a750cf8.e755a4","type":"debug","z":"42699fa5.f7306","name":"","active":true,"console":"false","complete":"false","x":490,"y":140,"wires":[]},{"id":"32a125cc.0a681a","type":"function","z":"42699fa5.f7306","name":"Set message to request ask","func":"var str = msg.payload.content;\nstr = encodeURIComponent(str);\nmsg.url = 'https://botnoiminhash-api.herokuapp.com/reply?ask='+str;\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":120,"wires":[["f52b3aba.ede1e"]]},{"id":"2d46dfbe.0d64f8","type":"inject","z":"6ec04530.f1dfcc","name":"","topic":"","payload":"{\"Category\": {\"result\": \"\\u0e2a\\u0e21\\u0e31\\u0e04\\u0e23\\u0e42\\u0e1b\\u0e23\\u0e42\\u0e21\\u0e0a\\u0e31\\u0e48\\u0e19\\u0e2b\\u0e25\\u0e31\\u0e01-\\u0e40\\u0e2a\\u0e23\\u0e34\\u0e21_\\u0e23\\u0e30\\u0e1a\\u0e38\\u0e41\\u0e1e\\u0e47\\u0e01\", \"distance\": \"0.00\"}, \"Message\": \"\\u0e2a\\u0e21\\u0e31\\u0e04\\u0e23\\u0e40\\u0e19\\u0e47\\u0e15 70 \\u0e0a\\u0e21.\\u0e19\\u0e32\\u0e19 30\\u0e27\\u0e31\\u0e19 199 \\u0e1a\\u0e32\\u0e17\", \"Description\": {\"result\": \"HP_internet_70Hr_199B-30d\", \"distance\": \"0.01\"}, \"Product\": {\"result\": \"Prepaid\", \"distance\": \"0.34\"}, \"PackageCode\": {\"result\": \"21230233\", \"distance\": \"0.01\"}, \"ToDoNext\": {\"result\": \"001-2-1\", \"distance\": \"0.23\"}}","payloadType":"str","repeat":"","crontab":"","once":false,"x":90,"y":40,"wires":[["a22ea8a5.60c548"]]},{"id":"a22ea8a5.60c548","type":"json","z":"6ec04530.f1dfcc","name":"","pretty":false,"x":210,"y":40,"wires":[["98d1661b.46c1a8"]]},{"id":"59e7138e.9ec994","type":"debug","z":"6ec04530.f1dfcc","name":"object json","active":true,"console":"false","complete":"payload","x":772,"y":400,"wires":[]},{"id":"c7999285.474fb8","type":"function","z":"6ec04530.f1dfcc","name":"Set response message","func":"var ans =  msg.payload.ans\nmsg.payload = ans\nreturn msg","outputs":1,"noerr":0,"x":491,"y":460,"wires":[["6ba0ea16.02a58c","aadfa806.f8654"]]},{"id":"3c430c7f.ea9e64","type":"debug","z":"6ec04530.f1dfcc","name":"http rquest","active":true,"console":"false","complete":"payload","x":772,"y":340,"wires":[]},{"id":"b35917b4.7df0a8","type":"http request","z":"6ec04530.f1dfcc","name":"","method":"GET","ret":"txt","url":"","x":532,"y":340,"wires":[["3c430c7f.ea9e64","2504afde.049858"]]},{"id":"b46cb335.50e23","type":"function","z":"6ec04530.f1dfcc","name":"Set message to request ask","func":"var str = msg.payload.content;\nstr = encodeURIComponent(str);\nmsg.url = 'https://wowbox-api.herokuapp.com/reply?ask='+str;\nreturn msg;","outputs":1,"noerr":0,"x":482,"y":280,"wires":[["b35917b4.7df0a8"]]},{"id":"2504afde.049858","type":"json","z":"6ec04530.f1dfcc","name":"","pretty":false,"x":552,"y":400,"wires":[["59e7138e.9ec994","c7999285.474fb8"]]},{"id":"9127471e.0285b8","type":"debug","z":"6ec04530.f1dfcc","name":"message request from facebook","active":true,"console":"false","complete":"payload","x":179,"y":340,"wires":[]},{"id":"98d1661b.46c1a8","type":"debug","z":"6ec04530.f1dfcc","name":"","active":true,"console":"false","complete":"payload.PackageCode.result","x":680,"y":40,"wires":[]},{"id":"9693fc31.d9a4f","type":"file","z":"6ec04530.f1dfcc","name":"input_message_from_facebook_log_file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":199,"y":580,"wires":[]},{"id":"c47adfc.b513f2","type":"file","z":"6ec04530.f1dfcc","name":"output_message_from_facebook_log_file","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"false","x":440,"y":700,"wires":[]},{"id":"5e87a1c3.f80398","type":"function","z":"6ec04530.f1dfcc","name":"set date input filename","func":"var currentDate = msg.currentdate;\nmsg.filename = 'input_facebook_log_'+currentDate+'.log';\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":520,"wires":[["9693fc31.d9a4f"]]},{"id":"528bd02c.a09118","type":"debug","z":"6ec04530.f1dfcc","name":"date current input","active":true,"console":"false","complete":"payload","x":129,"y":460,"wires":[]},{"id":"c797ed99.7c807","type":"debug","z":"6ec04530.f1dfcc","name":"date current output","active":true,"console":"false","complete":"payload","x":490,"y":580,"wires":[]},{"id":"8b6dc821.001e08","type":"function","z":"6ec04530.f1dfcc","name":"set date output filename","func":"var currentDate = msg.currentdate;\nmsg.filename = 'output_facebook_log_'+currentDate+'.log';\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":640,"wires":[["c47adfc.b513f2"]]},{"id":"1c74760.69c150a","type":"http request","z":"d20d8a6a.610d98","name":"Call API validate time of OPT","method":"GET","ret":"txt","url":"","tls":"","x":506,"y":85,"wires":[["68eabfd.f0096c","97e55476.1c026"]]},{"id":"64a261ce.78b6c","type":"http request","z":"d20d8a6a.610d98","name":"Call API validate customer request OTP ","method":"GET","ret":"txt","url":"","tls":"","x":467,"y":226,"wires":[["6330af4f.dae98","c1173919.05c4f8"]]},{"id":"f4127957.8b8e7","type":"moment","z":"6ec04530.f1dfcc","name":"","topic":"","input":"","inputType":"date","inTz":"Etc/ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYYDDMM","locale":"EN","output":"currentdate","outputType":"msg","outTz":"Etc/UTC","x":139,"y":400,"wires":[["5e87a1c3.f80398","528bd02c.a09118"]]},{"id":"aadfa806.f8654","type":"moment","z":"6ec04530.f1dfcc","name":"","topic":"","input":"","inputType":"date","inTz":"Etc/ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYYDDMM","locale":"EN","output":"currentdate","outputType":"msg","outTz":"Etc/UTC","x":501,"y":520,"wires":[["8b6dc821.001e08","c797ed99.7c807"]]},{"id":"6ba0ea16.02a58c","type":"chatbot-message","z":"6ec04530.f1dfcc","name":"","message":[{"message":""}],"answer":false,"track":false,"x":750,"y":460,"wires":[["af84b604.39568"]]},{"id":"8eb0546a.2fd8d8","type":"chatbot-facebook-receive","z":"6ec04530.f1dfcc","bot":"","botProduction":"","x":141,"y":281,"wires":[["9127471e.0285b8","b46cb335.50e23","f4127957.8b8e7"]]},{"id":"af84b604.39568","type":"chatbot-facebook-send","z":"6ec04530.f1dfcc","bot":"","track":false,"outputs":0,"x":790,"y":520,"wires":[]},{"id":"4e795881.797ed","type":"http request","z":"9f3ba270.ea6c98","name":"NLP","method":"GET","ret":"txt","url":"","tls":"","x":798,"y":55,"wires":[["8f354686.32bbe8","f51f185.949ebe8"]]},{"id":"9ee8d4e1.f4fa2","type":"file","z":"9f3ba270.ea6c98","name":"","filename":"input message facebook","appendNewline":true,"createDir":false,"overwriteFile":"false","x":153,"y":110,"wires":[]},{"id":"8f354686.32bbe8","type":"function","z":"9f3ba270.ea6c98","name":"get response from NLP","func":"\nreturn msg;","outputs":"1","noerr":0,"x":1094,"y":53,"wires":[["458bb900.bf9c38"]]},{"id":"5cfc49d9.29664","type":"chatbot-facebook-receive","z":"9f3ba270.ea6c98","bot":"b315d983.710f9","botProduction":"","x":133,"y":56,"wires":[["f901d924.968b","277e82f3.ea9bee"]]},{"id":"f51f185.949ebe8","type":"debug","z":"9f3ba270.ea6c98","name":"response from NLP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":838,"y":20,"wires":[]},{"id":"277e82f3.ea9bee","type":"function","z":"9f3ba270.ea6c98","name":"set message to request NLP","func":"var str = msg.payload.content;\nstr = encodeURIComponent(str);\nmsg.url = 'https://dtac-chatbot.herokuapp.com/reply?ask='+str;\nreturn msg;","outputs":1,"noerr":0,"x":508,"y":56,"wires":[["4e795881.797ed","97d55c7b.31ae18"]]},{"id":"458bb900.bf9c38","type":"json","z":"9f3ba270.ea6c98","name":"","property":"payload","action":"","pretty":false,"x":1154,"y":100,"wires":[["f6edda67.a893a8","ba04d1d5.53c208"]]},{"id":"97d55c7b.31ae18","type":"debug","z":"9f3ba270.ea6c98","name":"set message to call NLP","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":597,"y":99,"wires":[]},{"id":"d3280e4f.651ab8","type":"file","z":"9f3ba270.ea6c98","name":"","filename":"respons NLP","appendNewline":true,"createDir":false,"overwriteFile":"false","x":113,"y":150,"wires":[]},{"id":"f901d924.968b","type":"debug","z":"9f3ba270.ea6c98","name":"Input request from facebook","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":162,"y":188,"wires":[]},{"id":"ed790ea1.115258","type":"chatbot-message","z":"9f3ba270.ea6c98","name":"","message":[""],"answer":false,"track":false,"x":1829.7500610351562,"y":356.75,"wires":[["88662622.b0fbd8"]]},{"id":"88662622.b0fbd8","type":"chatbot-facebook-send","z":"9f3ba270.ea6c98","bot":"b315d983.710f9","botProduction":"","track":false,"outputs":0,"x":2071,"y":43,"wires":[]},{"id":"6af6a9b3.6fe478","type":"file","z":"9f3ba270.ea6c98","name":"","filename":"response facebook","appendNewline":true,"createDir":false,"overwriteFile":"false","x":2072,"y":97,"wires":[]},{"id":"f34331f7.ea7dd8","type":"file","z":"9f3ba270.ea6c98","name":"","filename":"response agent","appendNewline":true,"createDir":false,"overwriteFile":"false","x":2063,"y":142,"wires":[]},{"id":"63d9aa02.1090e4","type":"chatbot-message","z":"d20d8a6a.610d98","name":"return msg otp over 15min","message":[{"message":" เลยเวลาที่กำหนดจ้า หนูดีรบกวนแจ้งเรื่องที่ต้องการทำรายการอีกครั้งจ้า"}],"answer":false,"track":false,"x":1144,"y":172,"wires":[[]]},{"id":"69cdcc90.1f2ee4","type":"chatbot-message","z":"d20d8a6a.610d98","name":"return msg otp first wrong","message":[{"message":"รหัสไม่ถูกจ้า หนูดีขอรหัสใหม่อีกครั้ง"}],"answer":false,"track":false,"x":1145,"y":326,"wires":[[]]},{"id":"68eabfd.f0096c","type":"function","z":"d20d8a6a.610d98","name":"Validate OTP < 15 min","func":"\nreturn msg;","outputs":1,"noerr":0,"x":526,"y":178,"wires":[["55fba82e.815998"]]},{"id":"6330af4f.dae98","type":"function","z":"d20d8a6a.610d98","name":"Validate customer request OTP","func":"\nreturn msg;","outputs":1,"noerr":0,"x":497,"y":329,"wires":[["9ef517d6.1ab3a8"]]},{"id":"55fba82e.815998","type":"switch","z":"d20d8a6a.610d98","name":"IsOver15Min","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":779,"y":180,"wires":[["63d9aa02.1090e4"],["64a261ce.78b6c"]]},{"id":"9ef517d6.1ab3a8","type":"switch","z":"d20d8a6a.610d98","name":"IsOTPFirstWrong","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":796,"y":331,"wires":[["69cdcc90.1f2ee4"],[]]},{"id":"754bbca4.798e54","type":"switch","z":"eb784316.443f4","name":"Switch POSTAID, PREPAID","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"POSTPAID","vt":"str"},{"t":"eq","v":"PREPAID","vt":"str"}],"checkall":"true","outputs":2,"x":244.5,"y":248.75,"wires":[["488a258f.223dac"],["cdee3c1b.d82d6"]]},{"id":"e3deada.617135","type":"function","z":"eb784316.443f4","name":"Validate Networktype[Post.Pre]","func":"\nreturn msg;","outputs":1,"noerr":0,"x":256.5,"y":169.75,"wires":[["754bbca4.798e54"]]},{"id":"488a258f.223dac","type":"switch","z":"eb784316.443f4","name":"Active or Suspend 1Way, 2Way Postpaid","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Active Or Suspend OneWay ","vt":"str"},{"t":"eq","v":"Suspend TwoWay ","vt":"str"}],"checkall":"true","outputs":2,"x":588.5,"y":243.75,"wires":[["5fc0627b.8b7444"],[]]},{"id":"cdee3c1b.d82d6","type":"switch","z":"eb784316.443f4","name":"Active ,Suspend Prepaid","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ACTIVE","vt":"str"},{"t":"eq","v":"SUSPEND","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":540.5,"y":294.75,"wires":[["834d60a7.ec95b8"],[]]},{"id":"5fc0627b.8b7444","type":"http request","z":"eb784316.443f4","name":"Call API BalanceCheck Postpaid","method":"GET","ret":"txt","url":"","tls":"","x":989.5,"y":235.75,"wires":[["dfc89ef3.49e0f"]]},{"id":"834d60a7.ec95b8","type":"http request","z":"eb784316.443f4","name":"Call API BalanceCheck Prepaid","method":"GET","ret":"txt","url":"","tls":"","x":990.5,"y":298.75,"wires":[["49823296.0b9a64"]]},{"id":"dfc89ef3.49e0f","type":"function","z":"eb784316.443f4","name":"get response message postpaid","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1315.5,"y":234.75,"wires":[["1d82d066.93c448"]]},{"id":"49823296.0b9a64","type":"function","z":"eb784316.443f4","name":"get response message prepaid","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1314.5000610351562,"y":298.75,"wires":[["b213ece7.83667"]]},{"id":"d50331bc.d74b2","type":"switch","z":"9f3ba270.ea6c98","name":"Condition Flows","property":"payload.intent","propertyType":"msg","rules":[{"t":"eq","v":"Balance_check","vt":"str"},{"t":"eq","v":"CAT1","vt":"str"},{"t":"eq","v":"CAT2","vt":"str"},{"t":"eq","v":"CAT3","vt":"str"},{"t":"eq","v":"CAT4","vt":"str"},{"t":"eq","v":"AGENT","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":1127,"y":249,"wires":[["18c56a18.52be76","54d35bb7.aa5c84"],["673e83b0.ebd62c"],["673e83b0.ebd62c"],["673e83b0.ebd62c"],["673e83b0.ebd62c"],["3fbbc6d3.16958a"]]},{"id":"f6edda67.a893a8","type":"function","z":"9f3ba270.ea6c98","name":"Vlidate Category","func":"var intent = msg.payload.intent;\nvar distance = msg.payload.distance;\nif(distance > 0.6){\n    msg.payload.intent = 'AGENT';\n}\nreturn msg;","outputs":1,"noerr":0,"x":1118,"y":150,"wires":[["d50331bc.d74b2","f899ba78.5be5d8"]]},{"id":"3fbbc6d3.16958a","type":"function","z":"9f3ba270.ea6c98","name":"Call AGENT","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1496.4285430908203,"y":455.1428508758545,"wires":[["ed790ea1.115258"]]},{"id":"97e55476.1c026","type":"debug","z":"d20d8a6a.610d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":558,"y":133,"wires":[]},{"id":"c1173919.05c4f8","type":"debug","z":"d20d8a6a.610d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":557,"y":275,"wires":[]},{"id":"70f6fc21.8b65ec","type":"http request","z":"ef19de98.c59c48","name":"Profile","method":"GET","ret":"txt","url":"","tls":"","x":214,"y":178,"wires":[["4420493c.6644a8","270f0b80.a634ec"]]},{"id":"4420493c.6644a8","type":"function","z":"ef19de98.c59c48","name":"Validate Profile","func":"\nreturn msg;","outputs":1,"noerr":0,"x":244,"y":218,"wires":[["c21b0278.bcee58"]]},{"id":"c21b0278.bcee58","type":"http request","z":"ef19de98.c59c48","name":"Check OM","method":"GET","ret":"txt","url":"","tls":"","x":538,"y":156,"wires":[["75502315.993474","8e421779.2a25c8"]]},{"id":"d9a1131b.01223","type":"http request","z":"ef19de98.c59c48","name":"Send OTP","method":"GET","ret":"txt","url":"","tls":"","x":547,"y":336,"wires":[["5341118.0d2847"]]},{"id":"d3a38c4a.b025d","type":"chatbot-message","z":"ef19de98.c59c48","name":"return msg no msisdn","message":[{"message":"หนูดีขอเบอร์ระบบ dtac ที่ใช้งานในปัจจุบันเพื่อตรวจสอบให้นะคะ ^^"}],"answer":false,"track":false,"x":921,"y":281,"wires":[["d2368f8c.c2d5d8"]]},{"id":"270f0b80.a634ec","type":"debug","z":"ef19de98.c59c48","name":"response from Profile API","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":428,"y":100,"wires":[]},{"id":"75502315.993474","type":"debug","z":"ef19de98.c59c48","name":"response from GetOperator API","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":732,"y":102,"wires":[]},{"id":"8e421779.2a25c8","type":"function","z":"ef19de98.c59c48","name":"Validate Operator","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":199,"wires":[["8f07b02f.7dcc8","413341f7.886d08"]]},{"id":"8f07b02f.7dcc8","type":"switch","z":"ef19de98.c59c48","name":"IsDTAC","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":543,"y":287,"wires":[["d3a38c4a.b025d"],["d9a1131b.01223"]]},{"id":"250012ee.16f54e","type":"subflow:ef19de98.c59c48","z":"5b929df2.af898c","name":"","x":433,"y":161,"wires":[["e9825c23.f49e2"],["9da22e1d.db0e5"]]},{"id":"e9825c23.f49e2","type":"subflow:d20d8a6a.610d98","z":"5b929df2.af898c","name":"","x":733,"y":156,"wires":[["a360512c.9d4d7"],["3236141f.4b3cc4","c7e35835.02ef28"]]},{"id":"3236141f.4b3cc4","type":"subflow:eb784316.443f4","z":"5b929df2.af898c","name":"","x":703,"y":343.25,"wires":[["ff3e24ae.7e55f8"],["1c7414be.c7d34b"],["91e7a1b0.bf43"],["1752f6d2.464e39"]]},{"id":"18c56a18.52be76","type":"subflow:5b929df2.af898c","z":"9f3ba270.ea6c98","name":"","x":1437,"y":236,"wires":[["88662622.b0fbd8"],["88662622.b0fbd8"],["88662622.b0fbd8"],["88662622.b0fbd8"],["3fbbc6d3.16958a"],["3fbbc6d3.16958a"]]},{"id":"fd580ab6.d948c","type":"subflow:ef19de98.c59c48","z":"19ac5846.14084","name":"","x":441,"y":165,"wires":[["ec2e8875.d0f48"],[]]},{"id":"ec2e8875.d0f48","type":"subflow:d20d8a6a.610d98","z":"19ac5846.14084","name":"","x":741,"y":160,"wires":[[],["275e0997.60b41e"]]},{"id":"275e0997.60b41e","type":"subflow:eb784316.443f4","z":"19ac5846.14084","name":"","x":701,"y":346,"wires":[[],[],[],[]]},{"id":"54d35bb7.aa5c84","type":"debug","z":"9f3ba270.ea6c98","name":"Start BalanceCheck Flow","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1470,"y":152,"wires":[]},{"id":"f899ba78.5be5d8","type":"debug","z":"9f3ba270.ea6c98","name":"get Intent to follow ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1447,"y":107,"wires":[]},{"id":"ba04d1d5.53c208","type":"debug","z":"9f3ba270.ea6c98","name":"Convert JSON String to JSON Object","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1505,"y":58,"wires":[]},{"id":"f60f63dd.492688","type":"debug","z":"5b929df2.af898c","name":"Input validate profile subflow","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":439,"y":35,"wires":[]},{"id":"673e83b0.ebd62c","type":"function","z":"9f3ba270.ea6c98","name":"Blank condition","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1272,"y":455,"wires":[["3fbbc6d3.16958a"]]},{"id":"c366aae2.bfca4","type":"debug","z":"eb784316.443f4","name":"Input Status Postpaid, Prepaid flow","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":311.25,"y":26.25,"wires":[]},{"id":"5341118.0d2847","type":"debug","z":"ef19de98.c59c48","name":"response send request OTP ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":788.75,"y":427,"wires":[]},{"id":"d2368f8c.c2d5d8","type":"debug","z":"ef19de98.c59c48","name":"response msg msisdn missing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1207.5,"y":355,"wires":[]},{"id":"a360512c.9d4d7","type":"debug","z":"5b929df2.af898c","name":"response mssage not found msisdn","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1018.75,"y":58.75,"wires":[]},{"id":"c7e35835.02ef28","type":"debug","z":"5b929df2.af898c","name":"response mssage call validate status ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":673.75,"y":403.75,"wires":[]},{"id":"ff3e24ae.7e55f8","type":"debug","z":"5b929df2.af898c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1231.25,"y":232.5,"wires":[]},{"id":"1c7414be.c7d34b","type":"debug","z":"5b929df2.af898c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1227.5,"y":321.25,"wires":[]},{"id":"91e7a1b0.bf43","type":"debug","z":"5b929df2.af898c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1231.25,"y":412.5,"wires":[]},{"id":"1752f6d2.464e39","type":"debug","z":"5b929df2.af898c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1226.25,"y":503.75,"wires":[]},{"id":"9da22e1d.db0e5","type":"debug","z":"5b929df2.af898c","name":"response msg msisdn missing","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":441.25,"y":266.25,"wires":[]},{"id":"1d82d066.93c448","type":"debug","z":"eb784316.443f4","name":"response msg postpaid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1695,"y":148.75,"wires":[]},{"id":"b213ece7.83667","type":"debug","z":"eb784316.443f4","name":"response msg prepaid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1681.25,"y":283.75,"wires":[]},{"id":"413341f7.886d08","type":"debug","z":"ef19de98.c59c48","name":"status postpaid or prepaid","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":853.75,"y":165,"wires":[]}]