flows_chatbot_dtac.json
[{"id":"65899bf5.405a24","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"ff28e7df.cfac8","type":"inject","z":"65899bf5.405a24","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["19c3aaca.0e245d","48cf18ad.c8102"]]},{"id":"19c3aaca.0e245d","type":"debug","z":"65899bf5.405a24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":369,"y":141,"wires":[]},{"id":"48cf18ad.c8102","type":"debug","z":"65899bf5.405a24","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":260,"wires":[]}]